# OS-specific files
.DS_Store

# NodeJS-specific files
node_modules
.npmrc

# project files
junit.xml
coverage
/deploy.yaml

# Other files
*.log

# Environment variables
.env
.env-*

# Build directory
dist
.build
cdk.out
reports
screenshots
videos
cdk.context.json

# CACHE
.yarn-offline-mirror
.yarn-cache

packages/private
packages/**/.yarnrc
packages/**/.npmrc
packages/**/yarn.lock

*.tar*


tsconfig.tsbuildinfo

# Visual Source Code
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

# Jetbrains (Intellij/Webstorm)
.idea

.eslintcache
/.vscode

# Test permit for local compilation
test-permit.html
